//---------------------- niri config ----------------------\\
// Top-level file: settings are merged from the included files below.

include "input.kdl"
include "layout.kdl"
include "animations.kdl"
include "window-rules.kdl"
include "binds.kdl"
include "misc.kdl"