//---------------------- window rules ----------------------\\
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

window-rule {
    match app-id="firefox"
    default-column-width { proportion 1.0; }
}